.chicken-logo{
  width: 150px;
  margin-left: 20px;
  margin-right: auto;
  border: solid 5px;
  text-align: center;
  display: block;
}
#borders{
  padding: 20px;
}
.page-body{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card.card-body {
  width: 300px;
  background-color: #FFFEF1;
  margin: 20px;
}

form{
  background-color: #f7f39a;
}
.App{
  text-align: center;
}

/* ---HEADER--- */
header, footer {
  background-color: #38817a;
  display: flex;
  justify-content: space-between;
}
.nav-links, .footer-links{
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---NAV--- */
a {
  color: #f7f39a !important;
  text-decoration: none !important;
}
a:hover {
  cursor: pointer !important;
  color: #f7f39a !important;
  text-decoration: underline !important;
}

/* ---NOT FOUND--- */
.chicken-friend {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}

/* ---FOOTER--- */
footer{
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #38817a;
  display: flex;
  justify-content: space-around;
}
